.contents__contact{
    width: 343px;
    height: 352px;
    background-color: #030303;
    border-radius: 10px;
    text-align: center;
    padding: 48px 24px;
    margin-top: 100px;
}

.contact__headline{
    font-weight: 700;
    font-size: 26px;
    color: #FFF7F0;
}

.contact__phrase{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #FFF7F0;
    margin-top: 24px;
}