.contents__introduction{
    text-align: center;
}

.introduction__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 45.36px;
}

.introduction__phrase{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7A746E;
    padding: 0 30px;
    margin-top: 16px;
}
