.contents__works{
    text-align: center; 
    margin-top: 100px;
}

.works__title{
 font-weight: 700;
 font-size: 24px;   
}

.works__slide{
    width: 270px;
    height: 180px;
    border-radius: 8px;
}

.works__arrows{
    margin-top: 32px;
}
.works__arrow{
    width: 64px;
    height: 64px;
    background-color: #030303;
    padding: 24px;
    border-radius: 50px;
    margin-left: 16px;
}